body
{
	font-family: "Segoe UI";
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-size: 1.5rem;
	font-weight: bold;
}

h2
{
	font-size: 20px;
	text-align: center;
	color: #1abc9c;
}

header 
{
	transition: all 0.5s;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	z-index: 997;
	position: fixed;
    	height: 10vh;
	padding: 15px 0;
    	background-color: rgb(44,62,80);
	border-bottom: 1px solid;
}

nav
{
	margin: 0 0%;
    	display: flex;
   	justify-content: space-around;
   	align-items: center;
    	height: 100%;
	padding-top: 0rem;
}

.nav-links 
{
    	width: 50%;
    	display: flex;
    	gap: 7%;
    	list-style: none;
	position: absolute;
  	left: 110px;
	margin: 0;
	padding: 0;
}

.nav-links li a 
{
	position: relative;
    	text-decoration: none;
	color: rgb(255,255,255);
}

.logo img 
{
    	max-height: 80px;
}

.logo
{
	position: absolute;
  	left: 0px;
}

.content
{
	display: flex;
	justify-content: space-between;
	height: 110vh;
	padding-top: 13vh;
}

.appli
{
    	background-color: #1abc9c;
	width: 40%;
	padding: 10px 20px;
}

.appli h1
{
	padding: 10px 20px;
	margin-top: 0px;
	color: rgb(255,255,255);
}


.komtuveu
{
	text-align: center;
    	position: relative;
	height: 600px;
}

.buttons
{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.but
{
	padding: 10px 20px;
    	margin: 10px;
    	background-color: #4CAF50;
    	color: white;
    	border: none;
    	border-radius: 5px;
    	cursor: pointer;
}


.right
{
	position: absolute;
    	top: 0;
    	left: 50%;
    	transform: translateY(-55%);
	background-color : transparent;
	border: transparent;
}

.left img
{
	width: 150px;
}

.bottom
{
	background-color : transparent;
	border: transparent;
	position: absolute;
    	top: 0;
    	left: 50%;
    	transform: translateX(-50%);
}

.top img
{
	width: 150px;
}

.left
{
	background-color : transparent;
	border: transparent;
	position: absolute;
    	top: 50%;
	padding-left: 10px;
	margin-left: 10px;
    	right: -10px;
    	transform: translateY(-55%);
}

.right img
{
	width: 150px;
}

.top
{
	background-color : transparent;
	border: transparent;
	position: absolute;
    	bottom: 0;
    	left: 50%;
    	transform: translateX(-50%);
}

.bottom img
{
	width: 150px;
}


.telemetry
{
	background-color: rgb(250, 250, 250);
	width: 60%;
	padding: 10px 30px;
}

.telemetry h1
{
	margin-top: 0px;
	right: 10px;
	position: absolute;
	padding: 10px 40px;
	color: #1abc9c;
	/*color: rgb(44,62,80);*/
}

.graphs
{
	display: flex;
	padding: 8rem 0rem;
	justify-content: space-between;
}

.graphr
{
	width: 50%;
	padding: 10px 20px;
}

.graphl
{
	width: 50%;
	padding: 10px 20px;
}

footer
{
	background-color: rgb(33, 37, 41);
	align-items: center;
	height: 3vh;
	width: 100%;
	padding: 1rem 0rem 0rem 0rem;
	margin: 0px;
}

footer p
{
	color: rgb(240,240, 240);
	text-align: center;
	font-size: 0.8rem;
	vertical-align:	middle;
	margin: 0px 0px 10px 0px;
}
