body
{
	font-family: "Segoe UI";
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-size: 3.5vh;
	font-weight: bold;
}


h2
{
	font-size: 20px;
	text-align: center;
	color: #1abc9c;
}

header 
{
	transition: all 0.5s;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	z-index: 997;
	position: fixed;
    	height: 10vh;
	padding: 3vh 1vw;
    	background-color: rgb(44,62,80);
	border-bottom: 0px solid;
}

nav
{
	margin: 0 0%;
    	display: flex;
   	justify-content: space-around;
   	align-items: center;
    	height: 100%;
	padding-top: 0rem;
}

.nav-links 
{
    	width: 50%;
    	display: flex;
    	gap: 7%;
    	list-style: none;
	position: absolute;
  	left: 8vw;
	margin: 0;
	padding: 0;
}

.nav-links li a 
{
	position: relative;
    	text-decoration: none;
	color: rgb(255,255,255);
}

.logo img 
{
    	max-height: 12.5vh;
}

.logo
{
	position: absolute;
  	left: 0.5vw;
}

.content
{
	display: flex;
	justify-content: space-between;
	height: 180vh; /*ancienne valeur a 110vh. Changement de la valeur pour faire rentrer la partie Console et Map visuelle*/
	/*Regarder a l'affichage de la console de l'inspection de la page*/
	padding-top: 13vh;
}

.appli
{
    	background-color: #1abc9c;
	width: 40%;
	padding: 1vh 1vw;
}

.appli h1
{
	padding: 5vh 2vw;
	margin-top: 0px;
	color: rgb(255,255,255);
}

.butmod
{
	height: 8vh;
	width: 8vw;
	background-color: rgb(255,255,255);
	border: none;
	font-family: "Segoe UI";
	font-weight: bold;
	color: #1abc9c;
	position: absolute;
	left: 15.5vw;
}

/*:hover a été ajouté pour creer une transition de couleur sur les boutons ainsi qu'un background différent pour l'impression de cliquer*/
.butmod:hover
{
	background: gray;
	transition: 0.3s;
}

.automatic
{
	top: 97%;
}

.komtuveu
{
	text-align: center;
    	position: relative;
	height: 70vh;
}

.buttons
{
	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
}

.but
{
	padding: 1vh 1vw;
    	margin: 1vh;
    	background-color: #4CAF50;
    	color: white;
    	border: none;
    	border-radius: 0vh;
    	cursor: pointer;
}


.right
{
	position: absolute;
    	top: 0;
    	left: 50%;
    	transform: translateY(-55%);
	background-color : transparent;
	border: transparent;
}

.left img, 
.top img,
.right img,
.bottom img
{
	width: 22vh;
}

.bottom
{
	background-color : transparent;
	border: transparent;
	position: absolute;
    	top: 0;
    	left: 50%;
    	transform: translateX(-50%);
}

.left
{
	background-color : transparent;
	border: transparent;
	position: absolute;
    	top: 50%;
	padding-left: 2vw;
	margin-left: 2vw;
    	right: -0.5vw;
    	transform: translateY(-55%);
}

.top
{
	background-color : transparent;
	border: transparent;
	position: absolute;
    	bottom: 0;
    	left: 50%;
    	transform: translateX(-50%);
}

.electro
{
	height: 10vh;
	justify-content: space-between;
	padding: 3vh 3vw 0 3vw;
	align-items: center;
	display: flex;
}

.electro h2
{
	color: rgb(250,250,250);
	vertical-align: center;
}

.el
{
	height: 5vh;
	width : 7vw;
	border: none;
	vertical-align: center;
	color: #1abc9c;
	font-size: 2vh;
	font-weight: bold;
}
/*:hover a été ajouté pour creer une transition de couleur sur les boutons ainsi qu'un background différent pour l'impression de cliquer*/
.el:hover
{
	background: gray;
	transition: 0.3s;
}

.visual
{
	padding: 0;
}

.visual h2
{
	color: rgb(250,250,250);
	vertical-align: center;
	width: 28vw;
}

.telemetry
{
	background-color: rgb(250, 250, 250);
	width: 60%;
	padding: 1vh 3vw;
}

.telemetry h1
{
	margin-top: 0px;
	right: 1vw;
	position: absolute;
	padding: 5vh 2vw;
	color: #1abc9c;
	/*color: rgb(44,62,80);*/
}

.graphs
{
	display: flex;
	padding: 18vh 0rem 0 0;
	justify-content: space-between;
}

.graphr
{
	width: 50%;
	padding: 1vh 2vw;
}

.graphl
{
	width: 50%;
	padding: 1vh 2vw;
}

.visual
{
	align-items: center;
	padding: 0 0 0 2vw;
}

footer
{
	background-color: rgb(33, 37, 41);
	align-items: center;
	height: 3vh;
	width: 100%;
	padding: 1vh 0rem 0rem 0rem;
	margin: 0px;
	bottom: 0px;
}

footer p
{
	color: rgb(240,240, 240);
	text-align: center;
	font-size: 1.6vh;
	vertical-align:	middle;
	margin: 0px 0px 0.1vh 0px;
}
