body
{
	font-family: "Segoe UI";
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
	font-size: 3.5vh;
	font-weight: bold;
}

header 
{
	transition: all 0.5s;
    	top: 0;
    	left: 0;
    	width: 100vw;
    	z-index: 997;
	position: fixed;
    	height: 10vh;
	padding: 3vh 1vw;
    	background-color: rgb(44, 62, 80);
	border-bottom: 0px solid;
}

nav
{
	margin: 0 0%;
    	display: flex;
   	justify-content: space-around;
   	align-items: center;
    	height: 100%;
	padding-top: 0rem;
}

.nav-links 
{
   	width: 50%;
    	display: flex;
	gap: 7%;
    	list-style: none;
	left: 8vw;
	margin: 0;
 	padding: 0;
	position: absolute;
}

.nav-links li a 
{
	position: relative;
	text-decoration: none;
	color: rgb(255,255,255);
}

.logo img 
{
    	max-height: 12.5vh;
}

.logo
{
	position: absolute;
  	left: 0.5vw;
}

.preamb
{
    	background-color: #1abc9c;
	height: 70vh;
	width: 100%;
	align-items: center;
	padding: 2.5vh 0.2vw 1vh 0.2vw;
}

.content
{		
	display: flex;
   	justify-content: space-between;
	vertical-align: middle;
}

.robot
{
	width: 40%;
	vertical-align: center;
  	left: 7vw;
	display: flex;
	align-items: center;
	justify-content: center;

}

.robot img
{
	height: 58vh;
}


.content .text
{
	align-items: center;
	width: 55%;
	right: 10vh;
	position: absolute;
	color: rgb(255, 255, 255);
	vertical-align: middle;
	padding-top: 10px;
}

.preamb h1
{
	padding-top: 20px;
	margin-top: 0px;
	color: rgb(255, 255, 255);
}

.resum 
{
	background-color: rgb(255, 255, 255);
	color: rgb(44,62,80);
	align-items: center;
}

.resum h2
{
	color: #1abc9c;
	font-size: 5vh;
}

.resum p
{
	color: rgb(44, 62, 80);
	font-size: 3.2vh;
}

.h2elec
{
	text-align: right;
}

.contmeca .txt
{
	padding: 0rem 0rem 0rem 2vw;
}

.contelec .txt
{
	padding: 0rem 2vw 0rem 2vw;
	text-align: right;
	vertical-align: middle;
	width: 40%;
}

.contmeca
{
	display: flex;
	padding: 0rem 2vw 2vh 2vw;
	justify-content: space-between;
	vertical-align: middle;
}

.meca
{
	width: 80%;
	vertical-align: center;
}

.backrobot
{
	width: 30%;
	padding: 2vh 4vw 0rem 0rem;
}

.backrobot img
{
	height: 50vh;
}

.elec
{
	vertical-align: center;
}

.circelec
{
	width: 55%;
	padding: 0rem 0rem 0rem 4vw;
}

.circelec img
{
	height: 44vh;
}

.contelec
{
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	padding: 1vh;
	background-color: rgb(220,220,220);
}

.tuto
{
	height: 30vh;
	padding: 0 4vw;
	text-justify: auto;
}

.tuto p 
{
	text-align: justify;
}

.tuto h2
{
	text-align: center;
}

.equip
{
	background-color: #1abc9c;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.col
{
	display: flex;
  	justify-content: space-between;
	padding: 1vh;
	height: 75vh;
	flex-wrap: wrap;
	max-width: 100%;
	width: 100%;

}

.col > div
{
	width: calc(25% - 10px); 
  	margin: 25px;
	flex: 1;
}

.descor20,
.laure,
.akame,
.i123456789
{
	border: 3px;
	border-radius: 1;
	background-color: rgb(255,255,255);
	text-align: center;
	color: rgb(42,60,80);
}

.descor20 p,
.laure p,
.akame p,
.i123456789 p
{
	text-align: center;
	padding: 0px 2vh;
	font-size: 3.2vh;
}

.descor20 h1,
.laure h1,
.akame h1,
.i123456789 h1
{
	font-size: 5vh;
	color: #1abc9c;
}


footer
{
	background-color: rgb(33, 37, 41);
	align-items: center;
	height: 3vh;
	width: 100%;
	padding: 1vh 0rem 0rem 0rem;;
	margin: 0px;
}

footer p
{
	color: rgb(240,240,240);
	text-align: center;
	font-size: 1.6vh;
	vertical-align: middle;
	margin: 0px 0px 0.1vh 0px;
}
